<div>
<h2>My Cards</h2>
<!--<table *ngIf = "cardService.cardDeck">-->
<!--    <tr *ngFor="let card of cardService.cardDeck.cards; let i = index"></tr>-->
    
<!--</table>-->

<!--<ul *ngIf = "cardService.cardDeck">-->
<!--  <li *ngFor="let card of cardService.cardDeck.cards">-->
<!--  <img [src]="card.image" />-->
<!--  </li>-->
  
<!-- </ul>-->
<div class="cardContainer" *ngIf = "cardService.cardDeck">
  <div class="card" *ngFor = "let card of cardService.cardDeck.cards; let i = index">
    <img (click)="selectCard(card)" [src]="card.image" class="img-card" />
    
    
  </div>
  
</div>
</div>
