.board-div{
    width: 100%;
    margin: auto;
    background: white;
}

#dashboard-div{
    width: 100%;
}

#gameOver-div{
    color: #C0392B;
    margin-top: 100px;
    margin-left: 200px;
    float: left;
}

h2{
    background: #000000;
}